#title {
	text-decoration: underline;
	margin-bottom: 1rem;
	color: #222;
}

#title a {
	color: #222;
}

#title a:hover {
	color: black;
}

.thread {
	border-top: solid 2px black;
	border-bottom: dotted 1px grey;
	padding: 0.5em;
	padding-right: 0;
}

.thread-title {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.piece {
	border-right: solid 2px grey;
	padding-right: 0.5em;
}

.piece p {
	margin: 0.5em 0;
}

.piece-input {
	width: 100%;
	display: None;
}

.addpiece {
	padding: 2px;
}

.addinfo {
	display: None;
}

.piece:hover .addinfo, .piece:focus .addinfo {
	font-size: 0.7em;
	color: black;
	display: inline;
}

.sidebar {
	border-left: solid 2px black;
	padding-left: 1rem;
}

@media (min-width: 750px) {
    .sidebar{margin-left: 5rem;}
}

.sidebar-title {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
}

.sidebar-title:first-child {
        margin-top: 0;
}

.comment .addinfo {
    font-size: 0.7em;
    color: black;
    display: block;
}

.comment .author {
    font-weight: bold;
}

.comment {
    padding: 0 0 0.2rem 0.5rem;
    margin: 0.2rem 0;
    background-color: lightgrey;
    border-right: solid 0.3rem grey;
}

.orange { border-right-color: coral; }
.blue { border-right-color: darkslateblue; }
.green { border-right-color: seagreen; }
.red { border-right-color: firebrick; }

.comment.orange { background-color: #F5B173; }
.comment.blue { background-color: #9C86C7; }
.comment.green { background-color: #8EBF9B; }
.comment.red { background-color: #E79C92; }