{% extends "base.html" %}
{% block threads %}
<div class="thread">
	<p><i>An Open Space</i> adalah website eksperimen yang diniatkan sebagai tempat menulis cerita bersama. Lanjutkan cerita yang ada dengan menekan tombol "Add", atau klik "New Thread" di atas.</p>
	<p>Formatting dan pemaragrafan masih sedang proses, dan belum diimplementasi. Untuk menambah dua paragraf, lakukan "Add" dua kali. Setiap paragraf bisa diberikan warna tersendiri untuk membedakannya dengan paragraf oleh penulis yang berbeda.</p>
	To-do:
	<ul>
	<li>Sorting!</li>
	<li>Archive page, individual thread page</li>
	<li>Ability to delete own post.</li>
	<li>Using cookies to store associated colour.</li>
	<li>A discussion room per story thread</li>
	<li>Tags per story thread (+ ability to sort by tags)</li>
	<li>Gotta figure out how SQL works, ugh</li>
	<li>And version control. Hmmgh.</li>
	</ul>
</div>
{% endblock %}

{% block sidebar %}
	Latest Threads:
		<ul>
		{% for thread in threads %}
		<li>{{ thread['title'] }}</li>
		{% endfor %}
		</ul>
{% endblock %}