{% extends "base.html" %}
{% block title %}- New Thread{% endblock %}

{% block threads %}
	<div class="thread">
	<form class="thread-input" action="{{ url_for('new_thread') }}" method="post">

		<div class="row">
		<label for="threadtitle">Title</label>
		<input id="threadtitle" name="title" placeholder="Untitled" type="text">
		</div>
		
		<div class="row">
		<label for="threadauthor">Author</label>
		<input id="threadauthor" name="author" placeholder="Anonymous" type="text" value="{{ authorses }}">
		</div>
		
		<div class="row">
		<label for="colorchoice">Colour</label>
		<select style="width: auto" id="colorchoice" name="colour" placeholder="Colour">
			<option value="">Choose colour:</option>
			<option value="red" {% if colourses == 'red' %}selected{% endif %}>Red</option>
			<option value="blue" {% if colourses == 'blue' %}selected{% endif %}>Blue</option>
			<option value="orange" {% if colourses == 'orange' %}selected{% endif %}>Orange</option>
			<option value="green" {% if colourses == 'green' %}selected{% endif %}>Green</option>
		</select>
		</div>
		
		<div class="row">
		<label for="firstpiece">Opening</label>
		<textarea style="width: 100%; height: 10em;" id="firstpiece" name="piececontent" type="text"></textarea>
		</div>
        
        <div class="row">
		<label for="tags">Tags</label>
		<input id="tags" placeholder="#separate by #hashtags" name="tags" type="text"></input>
		</div>
		
		<input value="Post" type="submit">
	</form>
	</div>
{% endblock %}

{% block sidebar %}
	Latest Threads:
		<ul>
		{% for thread in threads %}
		<li>{{ thread['title'] }}</li>
		{% endfor %}
		</ul>
{% endblock %}